<%- include('public-header') %>
<link rel="stylesheet" href="/stylesheets/classify.css">
<div class="container">
    <div class="row">
        <div class=" col-sm-4 col-md-3 col-lg-2">
            <div class="more-title">
                <a href="#">首页</a>>
                <a href="#">
                    <strong>新闻中心</strong>
                </a>
            </div>
        </div>
    </div>
</div>
<%- include('public-footer') %>