<%- include('public-header') %>
<link rel="stylesheet" href="/stylesheets/More.css">
<div class="container">
    <div class="row">
        <div class=" col-sm-4 col-md-3 col-lg-2">
            <div class="more-title">
                <a href="#">首页</a>>
                <a href="#">
                    <strong>新闻中心</strong>
                </a>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class=" col-sm-12 col-md-11 col-lg-9  mainbor">
            <a href="#">
                <div class="row bor">
                    <div class=" col-sm-5 col-md-5 col-lg-5">
                        <img class="newsImg" src="http://pcms.aigou.com/csapa/u/cms/csapa/201612/12/154317uewh.jpg"
                             alt="关爱流浪动物健康 CRC狂犬病防治项目执行报告">
                    </div>
                    <div class=" col-sm-7 col-md-7 col-lg-7">
                        <p class="new-title">关爱流浪动物健康 CRC狂犬病防治项目执行报告</p>
                        <p class="new-time">发布日期：2016-12-12</p>
                        <p class="new-content">
                            2016年8月中国小动物保护协会和默沙东公司共同发起了CRC狂犬病防治项目
                            （China Rabies Control Program )，历时5个月，涉及3个直辖市，
                            2个自治区，12个省，23个市。CRC项目共有15家默沙东经销商，
                            39个流浪动物保护组织，71家防疫站、宠物医院参与活动。
                            我们共注射疫苗11,913头份，改变了11,913只犬、猫的命运，
                            从源头消除了狂犬病传播的隐患！
                        </p>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="row bor">
                    <div class=" col-sm-5 col-md-5 col-lg-5">
                        <img class="newsImg" src="http://pcms.aigou.com/csapa/u/cms/csapa/201612/12/154317uewh.jpg"
                             alt="关爱流浪动物健康 CRC狂犬病防治项目执行报告">
                    </div>
                    <div class=" col-sm-7 col-md-7 col-lg-7">
                        <p class="new-title">关爱流浪动物健康 CRC狂犬病防治项目执行报告</p>
                        <p class="new-time">发布日期：2016-12-12</p>
                        <p class="new-content">
                            2016年8月中国小动物保护协会和默沙东公司共同发起了CRC狂犬病防治项目
                            （China Rabies Control Program )，历时5个月，涉及3个直辖市，
                            2个自治区，12个省，23个市。CRC项目共有15家默沙东经销商，
                            39个流浪动物保护组织，71家防疫站、宠物医院参与活动。
                            我们共注射疫苗11,913头份，改变了11,913只犬、猫的命运，
                            从源头消除了狂犬病传播的隐患！
                        </p>
                    </div>

                </div>
            </a>
            <!--page-->
           <div class="row">
            <div class="col-sm-6 col-md-5 col-lg-5  col-sm-push-4 col-md-push-4  col-lg-push-4 page">
                <span>FIRST</span>
                <span><<</span>
                <ul class="pageNum" id="pageNum">
                    <li>1</li>
                </ul>
                <span>>></span>
                <span>LAST</span>
                <input type="text" id="numInp" value=""/>
            </div>
        </div>

        </div>
    </div>
</div>

<%- include('public-footer') %>