<%- include('public-header') %>
<link rel="stylesheet" href="/stylesheets/More.css">
<div class="container">
    <div class="row">
        <div class=" col-sm-4 col-md-3 col-lg-2">
            <div class="more-title">
                <a href="#">首页</a>>
                <a href="#">
                   <strong>新闻中心</strong>
                </a>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class=" col-sm-12 col-md-11 col-lg-9">
            <div class="mainbor">
                <div class="bor b">
            <div class="row">
              <div class=" col-sm-5 col-md-5 col-lg-5" >
                  <img class="newsImg" src="http://pcms.aigou.com/csapa/u/cms/csapa/201612/12/154317uewh.jpg"
                  alt="关爱流浪动物健康 CRC狂犬病防治项目执行报告">
              </div>
              <div class=" col-sm-7 col-md-7 col-lg-7">
                  <p class="new-title">关爱流浪动物健康 CRC狂犬病防治项目执行报告</p>
                  <p class="new-time">发布日期：2016-12-12</p>
                  <p class="new-content">
                      2016年8月中国小动物保护协会和默沙东公司共同发起了CRC狂犬病防治项目
                      （China Rabies Control Program )，历时5个月，涉及3个直辖市，
                      2个自治区，12个省，23个市。CRC项目共有15家默沙东经销商，
                      39个流浪动物保护组织，71家防疫站、宠物医院参与活动。
                      我们共注射疫苗11,913头份，改变了11,913只犬、猫的命运，
                      从源头消除了狂犬病传播的隐患！
                  </p>
                  </div>
                 </div>
                </div>
                <!--&lt;!&ndash;第二块的部分&ndash;&gt;-->
                <!--<div class="bor b">-->
                    <!--<div class="row ">-->
                        <!--<div class=" col-sm-5 col-md-5 col-lg-5" >-->
                            <!--<img class="newsImg" src="http://pcms.aigou.com/csapa/u/cms/csapa/201610/09/171804viwl.jpg"-->
                                 <!--alt="关爱流浪动物健康 CRC狂犬病防治项目执行报告">-->
                        <!--</div>-->
                        <!--<div class=" col-sm-7 col-md-7 col-lg-7">-->
                            <!--<p class="new-title">关爱流浪动物健康 CRC狂犬病防治项目执行报告</p>-->
                            <!--<p class="new-time">发布日期：2016-10-09</p>-->
                            <!--<p class="new-content">-->
                                <!--为落实爱护动物理念，关爱流浪动物健康，促进公益事业更科学有效的发展，-->
                                <!--共同构建和谐社会做贡献，中国小动物保护协会携手默沙东公司共同发起——-->
                                <!--CRC狂犬病防治项目（China Rabies Control Program )-->
                            <!--</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
             <!--&lt;!&ndash;第三个部分&ndash;&gt;-->
                <!--<div class="bor b">-->
                    <!--<div class="row">-->
                        <!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">-->
                            <!--<p class="new-title">关爱流浪动物健康 CRC狂犬病防治项目执行报告</p>-->
                            <!--<p class="new-time">发布日期：2016-10-09</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
             <!--&lt;!&ndash;//第四部分&ndash;&gt;-->
                <!--<div class="bor b">-->
                    <!--<div class="row">-->
                        <!--<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" >-->
                            <!--<img class="newsImg" src="http://pcms.aigou.com/csapa/u/cms/csapa/201608/29/153615bl5f.jpg"-->
                                 <!--alt="关爱流浪动物健康 CRC狂犬病防治项目执行报告">-->
                        <!--</div>-->
                        <!--<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">-->
                            <!--<p class="new-title">关注“股投”关爱计划！关注小动物生存福利！</p>-->
                            <!--<p class="new-time">发布日期：2016-10-09</p>-->
                            <!--<p class="new-content">-->
                                <!--中国小动物保护协会与华林证券股份有限公司为推动爱护动物理念-->
                                <!--，促进公益事业更科学有效的发展，-->
                                <!--共同推出“China Animal Talk”—“股投”关爱计划。-->
                            <!--</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                 <!--&lt;!&ndash;第五部分&ndash;&gt;-->
                <!--<div class="bor b">-->
                    <!--<div class="row">-->
                        <!--<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" >-->
                            <!--<img class="newsImg" src="http://pcms.aigou.com/csapa/u/cms/csapa/201608/08/150026uvl1.jpg"-->
                                 <!--alt="关爱流浪动物健康 CRC狂犬病防治项目执行报告">-->
                        <!--</div>-->
                        <!--<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">-->
                            <!--<p class="new-title">关注“股投”关爱计划！关注小动物生存福利！</p>-->
                            <!--<p class="new-time">发布日期：2016-10-09</p>-->
                            <!--<p class="new-content">-->
                                <!--2016年是中国小动物保护协会重要而艰巨的一年。-->
                                <!--我们不断调整工作中的不足也不断从多角度、-->
                                <!--多领域去发展有关中国小动物保护的实践工作。-->
                                <!--2016年1月至6月我们按照2015年末的规划分别从流浪动物保护基地的管理与完善、-->
                                <!--动物保护文化宣传等方面开展工作。-->
                            <!--</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
             <!--&lt;!&ndash;第六部分&ndash;&gt;-->
                <!--<div class="bor b">-->
                    <!--<div class="row">-->
                        <!--<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" >-->
                            <!--<img class="newsImg" src="http://pcms.aigou.com/csapa/u/cms/csapa/201607/11/111425fn0f.jpg"-->
                                 <!--alt="关爱流浪动物健康 CRC狂犬病防治项目执行报告">-->
                        <!--</div>-->
                        <!--<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">-->
                            <!--<p class="new-title">关注“股投”关爱计划！关注小动物生存福利！</p>-->
                            <!--<p class="new-time">发布日期：2016-10-09</p>-->
                            <!--<p class="new-content">-->
                                <!--北京奥莱这次活动除了延续中国小动物保护协会-->
                                <!--“伴侣动物文化展墙”这一公益主题外，-->
                                <!--还加入了中国小动物保护协会流浪狗狗领养活动——“流浪狗狗变身秀”-->
                                <!--、“公益美容室”、“文明养犬公益讲堂”、-->
                                <!--“星宠奇缘宠物嘉年华”等多个互动环节-->
                            <!--</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--第六个位置的结束位置-->
            </div>
          </div>
       </div>
</div>

<%- include('public-footer') %>