<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>public-aside</title>
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/public.css">
	<script src="/javascripts/jquery-1.11.1.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<h1 class="headerLogo"><a href=""><img src="http://csapa.chongaibao.com/r/cms/csapa/default/images/logo.jpg" alt="">&nbsp;<span>后台管理系统</span></a></h1>
		</div>
		<div class="row">
			<hr>
			<div class="col-lg-3 ">
				<div class="row">
					<div class="col-lg-11 aisde-aside" >
						
					</div>
				</div>
			</div>
			<div class="col-lg-9 aside-content">

			</div>
		</div>
	</div>
</body>
</html>