<%- include('public-header') %>
<link rel="stylesheet" href="/stylesheets/More.css">
<div class="container">
    <div class="row">
        <div class=" col-sm-5 col-md-4 col-lg-3">
            <div class="more-title">
                <a href="#">首页</a>>
                <a href="#">新闻中心</a>>
                <a href="#">分类</a>>
                <a href="#">
                    <strong>协会动态</strong>
                </a>
            </div>
        </div>
    </div>
    <!--//内容部分-->
    <div class='row'>
        <div class=" col-sm-12 col-md-11 col-lg-9  mainbor sbor">
            <p class="content-title">关爱流浪动物健康 CRC狂犬病防治项目执行报告</p>
            <p class="content-time">发布日期：2016-12-12 14:52:10</p>
             <div class="content">
                 历时108天，我们改变了11,913只犬、猫的命运！
                 2016年是CRC项目举办的第一年
                 活动历时5个月，涉及3个直辖市
                 CRC项目共有15家默沙东经销商，39个流浪动物保护组，
                 2016年6月25日，中国小动物保护协会伴侣动物文化展如约在北京赛特奥莱小镇开幕。
                 广西南宁首站活动报道后，“伴侣动物文化展”呼吁正确看待伴侣动物
                 、善待伴侣动物的理念，就得到了社会各界人士的支持。此次北京站活动是“走在礼俗路上的朋友
                 ”中国小动物保护协会伴侣动物文化展全国巡回的第二站。

             </div>
        </div>
    </div>
</div>
<%- include('public-footer') %>