<title>标签增加</title>
<%- include('public-aside') %>


<form style="padding-top:30px" action="" method="post" >
	<input type="text" name="tag" id="bbb">
	<div class="submit" id="submit">提交</div>
</form>










			</div>
		</div>
	</div>
	<script>
		var submit=document.getElementById('submit');
		submit.onclick=function(){
			var inps=document.getElementsByTagName('input');
			var data = 'tag='+inps[0].value;
			var xhr=new XMLHttpRequest;
			xhr.open('post','/back/tagsadd',true);
			xhr.setRequestHeader('Content-type','application/x-www-form-urlencoded');
			xhr.send(data);
			window.location.href='/back/tagslist'
		}
	</script>
</body>
</html>