<title>标签增加</title>
<%- include('public-aside') %>


<form style="padding-top:30px" action="" method="post" >
	<input type="text" name="tag" id="bbb">
	<div class="submit" id="submit">提交</div>
</form>










			</div>
		</div>
	</div>
</body>
</html>