.carousel-control.bgColor{
    background-image: none;
}
.banner .item{
    background: #1d602c;
}
.banner .item p{
    padding: 0 200px 0 10px;
    color: #fff;
    line-height: 30px;
}
.banner img{
    width: 100%;
}
.banIcon{
    position: absolute;
    bottom: 4px;
    left: 85%;
    margin-left: 0;
    width: inherit;
}
.banIcon li{
    border-radius: 0;
}




//.margin{/*margin-top时使用*/
//    margin-top: 20px;
//}
@margin:20px;
@color:#1d602c;
@public-color:#000;

.index_new_title{
    margin-top: @margin;
    h3{
        float: left;
        font-size: 16px;
        color: #1d602c;
        font-weight: bold;
        margin-bottom: 10px;
    }
    a{
        float: right;
        color: @color;
    }
}
.newsBox{
    border: 2px solid #f1f1f1;
    margin-bottom: @margin;
    .newsImg{
        width: 100%;
        img{
            width:100%;
            height: 170px;
        }
    }
    .hot-block{
        padding: 8px;
        color: #727171;
        line-height: 22px;
        a{
            color: #727171;
        }
        h3{
            font-size: 14px;
            color: @public-color;
            font-weight: bold;
            line-height: 25px;
        }
    }
    &:hover{
        background: #f6f6f6;
        border-color: #d1d1d1;
    }
    
}
.newsActive{
    margin-bottom: @margin;
    .news_active_left{
        img{
            width: 100%;
            height:auto;
        }
    }
    .news_active_center{
        li{
            height: 29px;
            line-height: 29px;
            background: url("http://csapa.chongaibao.com/r/cms/csapa/default/images/newsdot.png") left center no-repeat;
            padding-left: 10px;
            a{
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                color: @public-color;
                &:hover{
                    color: #db972c;
                }
            }
            .newsMore{
                color: #727070;
            }
        }
    }
    .news_active_right{
        img{
            width: 100%;
            height:auto;
            margin-bottom: 10px;
        }
    }
}

/*合作伙伴*/
.slideGroup{
    margin-bottom: @margin;
    ul{
        position: relative;
        top:2px;
        z-index: 11;
        line-height: 30px;
        li{
            float: left;
            padding: 0 15px;
            border: 1px solid #ddd;
            border-bottom:2px solid #fff;
            margin-right: 10px;
            cursor: pointer;
        }
        .on{
            background: #d1d1d1;
            border-bottom: 1px solid #ddd;
        }
    }
    .parBd{
        border: 1px solid #ddd;
        overflow: hidden;
        padding: 10px;
        margin-bottom: -1px;
        #tempWrap{
            width: 26008px;
            overflow: hidden;
            position: relative;
            left: 0;
            top: 0;
            li{
                float: left;
                margin-right: 10px;
                img{
                    width: 150px;
                    height: 100px;
                    display: block;
                }
            }
        }
    }
}
